h1 {
font-family: 'Edu AU VIC WA NT Pre';

font-weight: 700;
    color: #6f0f69;
    text-align: center;
    /*this is the color and font for the headers*/
    
    
    }
 
nav {
    color:#6f0f69;
    font-family: 'papyrus';
    font-size: large;
    border: 4px double rgb(198, 19, 130);
    text-align:center

}
main {
    color: #6f0f69;
    font-family: 'papyrus';
    font-size: large;
    border: 4px double rgb(198, 19, 130);
    text-align:center
    
    
    }
    #intro {

        border: 3px hidden rgb(128, 0, 0);
        
        
        }
        .even {

            background-color: #bbbbbb;
            
            }
            body {
                background-color: #4ca75e;
              }
footer {
    text-align: center;
    padding: 3px;
    background-color: #2ace4b;
    color: #6f0f69;
}
             
              
             